<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Baseball{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Welcome to the Baseball Application</h1>
        <a href="{{ url_for('pages.logout') }}">
            <button type="button">Logout</button>
        </a>
        <a href="{{ url_for('hello_world') }}">
            <button type="button">Home</button>
        </a>

{#        <label for="stat_leaders">History's Best</label>#}
{#        <select name="stat_leaders" id="stat_leaders">#}
{#                #}
{#        </select>#}


        {% block header %}{% endblock %}
    </header>

    <main>
        {% block content %}
        <!-- Page-specific content goes here -->
        {% endblock %}
    </main>

    <footer>
        {% block footer %}
        <p>&copy {{ current_year }} Baseball App</p>
        {% endblock %}
    </footer>
</body>
</html>
