<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Baseball{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.5/css/dataTables.bootstrap5.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.5/js/dataTables.bootstrap5.min.js"></script>

</head>
<body>
    <header>
        <h1>Welcome to the Baseball Application</h1>
        <a href="{{ url_for('pages.logout') }}">
            <button type="button">Logout</button>
        </a>
        <a href="{{ url_for('hello_world') }}">
            <button type="button">Home</button>
        </a>

{#        <label for="stat_leaders">History's Best</label>#}
{#        <select name="stat_leaders" id="stat_leaders">#}
{#                #}
{#        </select>#}


        {% block header %}{% endblock %}
    </header>

    <main>
        {% block content %}
        <!-- Page-specific content goes here -->
        {% endblock %}
    </main>

    <footer>
        {% block footer %}
        <p>&copy {{ current_year }} Baseball App</p>
        {% endblock %}
    </footer>
</body>
</html>
