{% extends "base.html" %}

{% block title %}Home | Baseball{% endblock %}

{% block content %}
    <h2>Latest Baseball Stats</h2>
    <p>Hello {{ user_name }}! Welcome back to the Baseball Application.</p>

    {% if current_user.is_admin %}
        <button onclick="window.location.href = '{{ url_for('admin.admin') }}';">Admin Dashboard</button>
    {% endif %}


    <button onclick="window.location.href = '{{ url_for('pages.search') }}';">Search History</button>


    <button onclick="window.location.href = '{{ url_for('pages.teams', team_name=favorite_team, year="Pickles") }}';">
        Random year of the {{ favorite_team }}</button>

{% endblock %}
