{% extends "base.html" %}

{% block title %}Search | Baseball{% endblock %}

{% block content %}

    <h1>Search info on teams</h1>


    <form method="post" action="{{ url_for('pages.search')}}">
        <label for="team_name">Team Name:</label>
        <select id="team_name" name="team_name">
            {% for team in teams %}
                <option value="{{ team }}">{{ team }}</option>
            {% endfor %}
        </select><br><br>

        <label for="year">Year:</label>
        <select id="year" name="year">
            {% for year in years %}
                <option value="{{ year }}">{{ year }}</option>
            {% endfor %}
        </select><br><br>

        <button type="submit">Swing!</button>
    </form>

    <script>
    document.getElementById('team_name').addEventListener('change', function(e) {
        const team = this.value;
        const year_select = document.getElementById('year');

        year_select.innerHTML = '' ;

        if (team){
            fetch(`get_years/${team}`)
            .then(res => res.json())
            .then(data => {
                data.forEach(year => {
                    const option = document.createElement('option');
                    option.text = year;
                    option.value = year;
                    year_select.appendChild(option);
                });
                year_select.disabled = false;
            });
        } else{
            year_select.disabled = true;
        }
    });
    </script>

    <script>
    $(document).ready(function() {
    $('#battingTable').DataTable({
        paging: false,       // disable pagination if you want all rows visible
        info: false,         // hide "Showing X of Y" text
        searching: false,    // disable search bar (optional)
        order: []            // start with no default sort
    });

    $('#pitchingTable').DataTable({
        paging: false,
        info: false,
        searching: false,
        order: []
    });
});
    </script>

{% endblock %}
